<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="../img/small_logo.png" alt="logo">
        <ul>
          <li><a href="index_logeado.html">Inicio</a></li>
          <li><a href="form_busqueda.html">Buscar</a></li>
          <li><a href="perfil.html">Juan Dario Gomez Ardila</a></li>
          <li><a href="index.html">Cerrar sesión</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <header>
        <h3>Buscar</h2>
        <form action="">
          <input type="text" name="" id="" />
          <input type="submit" value="Buscar" />
        </form>
        <h3>Últimas publicaciones</h3>
      </header>
      <section>
        <article>
          <!-- Foto del anuncio -->
          <figure>
            <img src="foto1.jpg" alt="Foto del anuncio 1" width="200" />
            <figcaption>Foto del anuncio 1</figcaption>
          </figure>

          <!-- Título del anuncio con enlace a la página de detalles -->
          <h2><a href="anuncio.html">Título del anuncio 1</a></h2>

          <!-- Fecha de publicación -->
          <p><strong>Fecha:</strong> 20 de septiembre de 2024</p>

          <!-- Ciudad -->
          <p><strong>Ciudad:</strong> Madrid</p>

          <!-- Precio -->
          <p><strong>Precio:</strong> €1,200/mes</p>
        </article>
        <article>
          <!-- Foto del anuncio -->
          <figure>
            <img src="foto2.jpg" alt="Foto del anuncio 2" width="200" />
            <figcaption>Foto del anuncio 1</figcaption>
          </figure>

          <!-- Título del anuncio con enlace a la página de detalles -->
          <h2><a href="anuncio.html">Título del anuncio 2</a></h2>

          <!-- Fecha de publicación -->
          <p><strong>Fecha:</strong> 20 de septiembre de 2024</p>

          <!-- Ciudad -->
          <p><strong>Ciudad:</strong> Madrid</p>

          <!-- Precio -->
          <p><strong>Precio:</strong> €1,200/mes</p>
        </article>
        <article>
          <!-- Foto del anuncio -->
          <figure>
            <img src="foto3.jpg" alt="Foto del anuncio 3" width="200" />
            <figcaption>Foto del anuncio 1</figcaption>
          </figure>

          <!-- Título del anuncio con enlace a la página de detalles -->
          <h2><a href="anuncio.html">Título del anuncio 3</a></h2>

          <!-- Fecha de publicación -->
          <p><strong>Fecha:</strong> 20 de septiembre de 2024</p>

          <!-- Ciudad -->
          <p><strong>Ciudad:</strong> Madrid</p>

          <!-- Precio -->
          <p><strong>Precio:</strong> €1,200/mes</p>
        </article>
      </section>
    </main>
    <footer>
        Todos los derechos reservados ©
    </footer>
  </body>
</html>
<!-- a las imagenes alt
main bajo el nav -->