<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/views/index_logeado.html">Inicio</a></li>
          <li><a href="/views/form_busqueda.html">Buscar</a></li>
          <li><a href="/views/perfil.html">Juan Dario Gomez Ardila</a></li>
          <li><a href="/views/index.html">Cerrar sesión</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <header>
        <h3>Buscar</h2>
        <form action="">
          <input type="text" name="" id="" />
          <input type="submit" value="Buscar" />
        </form>
        <h3>Últimas publicaciones</h3>
      </header>
      <section>
        <article>
          <a href="">
            <body>
              <img src="../images/Image-not-found.png" alt="img_casa" />
              <main>
                <h4>Título del anuncio</h4>
                <p>Ciudad</p>
                <p>Tipo de vivienda</p>
                <p>Precio</p>
              </main>
            </body>
            <footer>
              <p>Tipo de anuncio</p>
              <p>Fecha</p>
            </footer>
          </a>
        </article>
        <article>
          <a href="">
            <body>
              <img src="../images/Image-not-found.png" alt="img_casa" />
              <main>
                <h4>Título del anuncio</h4>
                <p>Ciudad</p>
                <p>Tipo de vivienda</p>
                <p>Precio</p>
              </main>
            </body>
            <footer>
              <p>Tipo de anuncio</p>
              <p>Fecha</p>
            </footer>
          </a>
        </article>
        <article>
          <a href="login.html">
            <body>
              <img src="../images/Image-not-found.png" alt="img_casa" />
              <main>
                <h4>Título del anuncio</h4>
                <p>Ciudad</p>
                <p>Tipo de vivienda</p>
                <p>Precio</p>
              </main>
            </body>
            <footer>
              <p>Tipo de anuncio</p>
              <p>Fecha</p>
            </footer>
          </a>
        </article>
      </section>
    </main>
    <footer>
        Todos los derechos reservados ©
    </footer>
  </body>
</html>
<!-- a las imagenes alt
main bajo el nav -->