<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultados de Búsqueda</title>
    <link rel="stylesheet" href="../styles/global.css" title="Estilo principal">
    <link rel="alternative stylesheet" href="../styles/oscuro.css" title="Modo oscuro">
    <link rel="alternative stylesheet" href="../styles/contraste.css" title="Estilo alto contraste">
    <link rel="alternative stylesheet" href="../styles/letra-mayor.css" title="Estilo letra mayor">
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/imprime-index.css" media="print">
    <link rel="alternative stylesheet" href="../styles/contraste-letra.css" title="Estilo letra mayor y alto contraste">
  </head>
  <body>
    <header>
      <nav>
        <img src="../img/small_logo.png" alt="logo" />
        <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="form_busqueda.html">Buscar</a></li>
          <li><a href="login.html">Inicio sesión</a></li>
          <li><a href="registro.html">Registro</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Resultados de la Búsqueda</h1>

      <section>
        <article>
          <figure>
            <img
              src="../img/foto-principal.jpg"
              alt="Foto del anuncio 1"
              width="200"
            />
          </figure>
          <aside>
            <h2><a href="anuncio.html">Título</a></h2>
            <p>Madrid</p>
            <p>€1,200/mes</p>
            <p>Piso</p>
            <p>Alquiler</p>
            <p>20/9/2024</p>
          </aside>
        </article>
        <article>
          <figure>
            <img
              src="../img/foto-principal.jpg"
              alt="Foto del anuncio 1"
              width="200"
            />
          </figure>
          <aside>
            <h2><a href="anuncio.html">Título</a></h2>
            <p>Madrid</p>
            <p>€1,200/mes</p>
            <p>Piso</p>
            <p>Alquiler</p>
            <p>20/9/2024</p>
          </aside>
        </article>
        <article>
          <figure>
            <img
              src="../img/foto-principal.jpg"
              alt="Foto del anuncio 1"
              width="200"
            />
          </figure>
          <aside>
            <h2><a href="anuncio.html">Título</a></h2>
            <p>Madrid</p>
            <p>€1,200/mes</p>
            <p>Piso</p>
            <p>Alquiler</p>
            <p>20/9/2024</p>
          </aside>
        </article>
        <article>
          <figure>
            <img
              src="../img/foto-principal.jpg"
              alt="Foto del anuncio 1"
              width="200"
            />
          </figure>
          <aside>
            <h2><a href="anuncio.html">Título</a></h2>
            <p>Madrid</p>
            <p>€1,200/mes</p>
            <p>Piso</p>
            <p>Alquiler</p>
            <p>20/9/2024</p>
          </aside>
        </article>
        <article>
          <figure>
            <img
              src="../img/foto-principal.jpg"
              alt="Foto del anuncio 1"
              width="200"
            />
          </figure>
          <aside>
            <h2><a href="anuncio.html">Título</a></h2>
            <p>Madrid</p>
            <p>€1,200/mes</p>
            <p>Piso</p>
            <p>Alquiler</p>
            <p>20/9/2024</p>
          </aside>
        </article>
        <article>
          <figure>
            <img
              src="../img/foto-principal.jpg"
              alt="Foto del anuncio 1"
              width="200"
            />
          </figure>
          <aside>
            <h2><a href="anuncio.html">Título</a></h2>
            <p>Madrid</p>
            <p>€1,200/mes</p>
            <p>Piso</p>
            <p>Alquiler</p>
            <p>20/9/2024</p>
          </aside>
        </article>
      </section>
    </main>

    <footer>Todos los derechos reservados ©</footer>
  </body>
</html>
