<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle del Anuncio</title>
    <link rel="stylesheet" href="../styles/global.css" title="Estilo principal">
    <link rel="alternative stylesheet" href="../styles/oscuro.css" title="Modo oscuro">
    <link rel="alternative stylesheet" href="../styles/contraste.css" title="Estilo alto contraste">
    <link rel="alternative stylesheet" href="../styles/letra-mayor.css" title="Estilo letra mayor">
    <link rel="stylesheet" href="../styles/mensaje.css">
    <link rel="alternative stylesheet" href="../styles/contraste-letra.css" title="Estilo letra mayor y alto contraste">
  </head>
  <body>
    <header>
      <nav>
        <img src="../img/small_logo.png" alt="logo">
        <ul>
          <li><a href="index_logeado.html">Inicio</a></li>
          <li><a href="form_busqueda.html">Buscar</a></li>
          <li><a href="perfil.html">Juan Dario</a></li>
          <li><a href="../index.html">Cerrar sesión</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!--Texto: MENSAJE ENVIADO-->
      <h1>Confirmación de mensaje</h1>
      <h3>Los datos almacenados han sido los siguientes:</h3>
      <form>
        <label> Tipo de mensaje</label>
        <br>
        <select disabled>
          <option>Consulta</option>
        </select>
        <br>
        <br>
        <labe>Mensaje</label>
        <br>
        <textarea rows="6" cols="50" disabled>Este es un mensaje de prueba</textarea>
        <br>
        <label for="">Tu mensaje ha sido enviado con éxito!</label>
        <br>
        <!--<button>Ok</button>-->
        <a href="anuncio.html">Ok</a>
      </form>
      <!--Tipo de mensaje-->
      <!--texto-->
    </main>
    <footer>Todos los derechos reservados ©</footer>
  </body>
</html>
