<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="salir.html">Salir</a></li>
        </ul>
    </nav>
    <main>
        <h2>solicitud de impresion de album</h2>
        <p>Mediante esta opcion dqijfbkeFKEABFkjbefkj</p>

        <h3>Tarifas</h3>
        <table>
            <tr>
                <th>Concepto</th>
                <th>Tarifa</th>
            </tr>
            <tr>
                <td>Coste de procesamiento de envio</td>
                <td>10 €</td>
            </tr>
            <tr>
                <td>&lt; 5 paginas</td>
                <td>Tarifa</td>
            </tr>
            <tr>
                <td>Concepto</td>
                <td>Tarifa</td>
            </tr>
        </table>
    </main>
    
</body>
</html>