
*{

    color: white;
}
input, button, select, option, textarea{
    color: #000000;
}

a{
    color: white;
}
body{
    background-color: #000000;
    >header{
        background-color: #000000;
    }

}
