* {
  color: var(--color-blanco);
}
input,
button,
select,
option,
textarea {
  color: var(--color-negro);
}

a {
  color: var(--color-blanco);
}
body {
  background-color: var(--color-negro);
  > header {
    background-color: var(--color-negro);
  }
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
  img {
    filter: invert(1) hue-rotate(180deg);
  }
}